@import "./styles/variables.module";
@import "./styles//mixins.module";

.App {
	padding: 20px;

	display: flex;
	justify-content: center;

	gap: 10px;

	border: 1px solid $red;
	border-radius: 20px;
}
